.icone {
    width: auto;
    height: 1em;
    margin: 0.5em;
  }

  /* CONTACT FORM */
  .contact {
    min-width: 50%;
  }
  
  .info_form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    /*padding-bottom: 1em;*/
  }
  
  .info_form img {
    margin: 0em 1em 0em 0em;
  }
  
  .info_form input {
    /*border: none;*/
    height: 2em;
    width: 50%;
    /*background-color: #a0daa9;*/
  }
  
  .info_form input:hover {
    background-color:$color3;
  }
  
  .info_form hr {
    background-color: #7c7c7c;
    width: 50%;
    margin-left: 0%;
    margin-top: 0%;
  }
  
  .info_form label {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  
  /* =============== */
  
  .no_border {
    border: none;
  }
  
  .shadow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  .green {
    background-color: #a0daa9;
  }
  
  .green_shadow {
    background-color: #78a57f;
  }