body {
  margin: 0;
  font-family: 'Montserrat';
  height: auto;
  width: auto;
  /*background-image: url('./img/1560285.jpeg');
      background-color: #333;
      background-repeat: no-repeat;
      background-size: cover;*/
  background-color: #2F3B4B;
}

.main_head {
  display: flex;
  flex-direction: column;
  background-image: url("./img/1560285.jpeg");
  height: fit-content;
  width: auto;
  text-align: center;
}

.main_head button {
  margin-bottom: 1em;
}

footer {
  text-align: center;
  color: #f2f2f2;
}

nav {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: #2F3B4B;
  width: auto;
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

@media only screen and (max-width: 500px) {
  nav {
    flex-direction: column;
  }
}

nav a:hover {
  background-color: #f2f2f2;
  color: #333;
}

nav a:active {
  background-color: royalblue;
  color: #f2f2f2;
}

nav-right {
  float: right;
}

h1 {
  color: #f2f2f2;
  /*font-size: 90px;*/
  text-align: center;
  background-color: rgba(45, 45, 45, 0.1);
}

hr {
  width: 25%;
  height: 5px;
  text-align: left;
  background-color: #A0DAA9;
  border: none;
}

h2 {
  text-align: center;
  color: #f2f2f2;
}

.icone {
  width: auto;
  height: 1em;
}

.sharebuttons_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 300px;
  height: auto;
  margin-top: 1em;
  align-items: center;
}

.sharebuttons {
  /*margin: auto;*/
  width: 2em;
  height: auto;
}

.container3 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about {
  flex: 1;
  min-width: 40%;
  /*
    padding-left: 2em;
    padding-right: 2em;*/
}

.work {
  min-width: 40%;
  max-width: fit-content;
  height: 20em;
  overflow: scroll;
  flex: 1;
}

.education {
  min-width: 50%;
  max-width: fit-content;
  height: 20em;
  overflow: scroll;
  flex: 1;
}

.subsection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.subsection header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.subsection div {
  flex: 1;
  margin: 0.5em;
}

ul {
  text-align: left;
}

section {
  background-color: #4F5256;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  padding: 1em;
  margin: 1em;
  opacity: 80%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

button {
  background-color: #333;
  color: #f2f2f2;
  overflow: hidden;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 0px;
  text-align: center;
  border: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

button a {
  font-family: "Montserrat";
  color: #f2f2f2;
  border: none;
  text-decoration: none;
  padding: 15px 32px;
  font-size: 17px;
  text-align: center;
}

button a:hover {
  background-color: #f2f2f2;
  color: #333;
}

img.hublot {
  height: 6em;
  width: 6em;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 1em 0em 1em 0em;
}

/* ===================================== */
/* ===================================== */
/* ===================================== */
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 0.3em;
  background-color: grey;
  top: 0;
  bottom: 0;
  left: 0%;
}

/* Container around content */
.timecontainer {
  padding: 5px 40px;
  position: relative;
  background-color: inherit;
  width: fit-content;
}

/* The circles on the timeline */
.timecontainer::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  /*right: -17px;*/
  background-color: aquamarine;
  border: 4px solid grey;
  top: 5%;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 0%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 1em 2em;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  /* Full-width containers */
  .timecontainer {
    width: auto;
    padding-left: 70px;
    padding-right: 25px;
  }
  /* Make sure that all arrows are pointing leftwards */
  .timecontainer::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/* Make sure that padding behaves as expected */
* {
  box-sizing: border-box;
}

/* ==================================== */
/* ===================================== */
/* ===================================== */
/* flip card */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.contact_button .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Contact form */
:required {
  background-color: red;
}

.container_form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transform: rotateY(180deg);
}

/* Style the back side */
/*
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  */
.white_bg {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 0.5em 1em 0.5em 1em;
}

.download {
  margin-top: 1em;
  width: auto;
}

/* CONTACT FORM */
.contact {
  min-width: 50%;
}

.info_form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  /*padding-bottom: 1em;*/
}

.info_form img {
  margin: 0em 1em 0em 0em;
}

.info_form input {
  /*border: none;*/
  height: 2em;
  width: 50%;
  /*background-color: #a0daa9;*/
}

.info_form input:hover {
  background-color: #f2f2f2;
}

.info_form hr {
  background-color: #7c7c7c;
  width: 50%;
  margin-left: 0%;
  margin-top: 0%;
}

.info_form label {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

/* =============== */
.no_border {
  border: none;
}

.shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.green {
  background-color: #a0daa9;
}

.green_shadow {
  background-color: #78a57f;
}

.techno {
  display: flex;
  flex-direction: row;
}

.techno div {
  border-radius: 5px;
  text-align: center;
  color: #f2f2f2;
  padding: 0.25em;
}

.techno .techno_html {
  background-color: orangered;
}

.techno .techno_css {
  background-color: #1e90ff;
}

.techno .techno_sass {
  background-color: #cf649a;
}

.techno .techno_boot {
  background-color: #7952b3;
}
/*# sourceMappingURL=main.css.map */